.heading1 {
  font-size: 48px;
  display: block;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  line-height: 120%;
  // font-family: "geomanist";
  font-weight: 600;
}
.heading2  {
  font-size: 35px;
  display: block;
  // font-family: "geomanist";
  font-weight: 600px;
  line-height: 120%;
  padding-left: 5%;
  padding-top: 10%;
  font-weight: 600;
  // margin-right: 100px;
}

.heading3{
  font-size: 35px;
  display: block;
  // font-family: "geomanist";
  font-weight: 600px;
  line-height: 120%;
  padding-left: 5%;
  padding-top: 10%;
  font-weight: 600;
}

.heading4{
  font-size: 35px;
  display: block;
  // font-family: "geomanist";
  font-weight: 600px;
  line-height: 120%;
  padding-left: 5%;
  padding-top: 10%;
  font-weight: 600;
}

.heading5{
  font-size: 35px;
  display: block;
  // font-family: "geomanist";
  font-weight: 600px;
  line-height: 120%;
  padding-left: 5%;
  padding-top: 10%;
  font-weight: 600;
}


.heading6{
  font-size: 35px;
  display: block;
  // font-family: "geomanist";
  font-weight: 600px;
  line-height: 120%;
  padding-left: 5%;
  padding-top: 10%;
  font-weight: 600;
}
.para1 {
  font-size: 20px;
  display: block;
  // font-family: "geomanist";
  line-height: 155%;
}
.para2 {
  font-size: 20px;
  display: block;
  // font-family: "geomanist";
  line-height: 150%;
  padding-top: 10%;
  
}
.para3 {
  font-size: 20px;
  display: block;
  // font-family: "geomanist";
  line-height: 150%;
}

.para6{
    font-size: 20px;
    display: block;
    // font-family: "geomanist";
    line-height: 150%;
    padding-left: 5%;
}

.para7 {
    font-size: 20px;
    display: block;
    // font-family: "geomanist";
    line-height: 150%;
 }

 .para5{
    // font-family: "geomanist";
    // padding-left: 10%;
    font-size: 17px;
    display: block;
    line-height: 150%;
}
.star{
 
  font-size:25px;
 
}
.para8{
  font-size: 20px;
  display: block;
  line-height: 150%;
  padding-top: 10%;
}
.loadingPage {
  background-color: white;
  padding: 10%;
}
.full-width {
  text-align: center;
  box-sizing: border-box;
}
.image {
  overflow-clip-margin: content-box;
  overflow: clip;
  background-color: #f2f2f2;
  width:10%;
}
.card-section{
    display: flex;
    align-items:center;
}
.card-title2{
    margin-right: 10px;
    // font-family: "geomanist";
}
.card-rating{
    margin-left: 10px;
}
.rotate-image {
  transform: rotate(106.733deg);
}
.round-image {
  border-radius: 50%; /* Makes the image round */
  background-color: transparent; /* Ensures no background color */
  width: 200px; /* Adjust width as needed */
  height: 200px; /* Adjust height as needed */
  object-fit: cover; /* Ensures the image covers the dimensions without distortion */

  margin-left: 10%;
}
.image1{
  width:150%;
  height: 180%;
  margin-left: -30px;
  
}
.text-right {
  text-align: right;
}
.card1{
  width: 80%;
  height: 25%;
}
.image2{
  width: 90%; 
  height: 90%;
  padding-top: 70px;
  padding-left: 200px;

}
/* Add these styles to your CSS file */

/* styles for food quote slider */
.slideshow-container {
  position: relative;
  max-width: 90%;
  margin: auto;
  overflow: hidden;
  height: 75vh;
  border-radius: 28px;
  margin-bottom: 10%;
  }

  .slide {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .quote {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2em;
    /* font-weight: bold; */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    text-align: center;
    padding: 10px;
    /* background-color: rgba(0, 0, 0, 0.5); */
    border-radius: 8px;
  }

  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
  }

  @keyframes fade {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 3px;
    user-select: none;
  }

  .next {
    right: 0;
  }

  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
 