.heading1 {
  font-size: 48px;
  display: block;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  line-height: 120%;
  font-family: "geomanist";
  font-weight: 600;
}
.heading2  {
  font-size: 35px;
  display: block;
  font-family: "geomanist";
  font-weight: 600px;
  line-height: 120%;
  padding-left: 5%;
  padding-top: 10%;
  font-weight: 600;
}

.heading3{
    font-size: 25px;
    display: block;
    font-family: "geomanist";
    font-weight: 600px;
    line-height: 120%;
    padding-left: 5%;
    padding-top: 10%;
    font-weight: 600;
}

.heading4{
    font-size: 25px;
    display: block;
    font-family: "geomanist";
    // font-weight: 100%;
    line-height: 120%;
    padding-left: 5%;
    padding-top: 20%;
    font-weight: 600;
}

.heading5{
    font-size: 25px;
    display: block;
    font-family: "geomanist";
    // font-weight: 100%;
    line-height: 120%;
    padding-left: 5%;
    padding-top: 20%;
    font-weight: 600;
}


.heading6{
    font-size: 25px;
    display: block;
    font-family: "geomanist";
    // font-weight: 100%;
    line-height: 120%;
    padding-left: 5%;
    padding-top: 20%;
    font-weight: 600;
}
.para1 {
  font-size: 20px;
  display: block;
  font-family: "geomanist";
  line-height: 155%;
}
.para2 {
  font-size: 20px;
  display: block;
  font-family: "geomanist";
  line-height: 150%;
  padding-top: 10%;
}
.para3 {
  font-size: 20px;
  display: block;
  font-family: "geomanist";
  line-height: 150%;
}

.para6{
    font-size: 20px;
    display: block;
    font-family: "geomanist";
    line-height: 150%;
    padding-left: 5%;
}

.para7 {
    font-size: 20px;
    display: block;
    font-family: "geomanist";
    line-height: 150%;
 }

 .para5{
    font-family: "geomanist";
    // padding-left: 10%;
    font-size: 17px;
    display: block;
    line-height: 150%;
}

.para8{
    font-size: 17px;
    display: block;
    font-family: "geomanist";
    line-height: 150%;
}
.loadingPage {
  background-color: white;
  padding: 10%;
}
.full-width {
  text-align: center;
  box-sizing: border-box;
}
.image {
  overflow-clip-margin: content-box;
  overflow: clip;
  background-color: #f2f2f2;
  width:10%;
}
.card-section{
    display: flex;
    align-items:center;
}
.card-title2{
    margin-right: 10px;
    font-family: "geomanist";
}
.card-rating{
    margin-left: 10px;
}
