<div class="loadingPage">
    <section class="loading">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-sm-10 col-lg-5 col-lg-offset-1">
                    <div class="hero-search">
                        <h1 class="heading1">Learn from experts locally and around the world</h1>
                        <p class="para1">"Clascity helps you find the right person with the right skills to learn
                            from,
                            fast."</p>
                    </div>
                    <div class="mobile-home-search">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <br>
    <br>
    <section class="landing-about">
        <div container-fluid>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-3 col-md-offset-2">
                    <h2 class="heading2">
                        Unlock your full potential through skill sharing
                    </h2>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 ">
                    <p class="para2">Don't let your current skills keep you from becoming your best self. Clascity is
                        here to help you learn, grow, and achieve greatness. With the right tools and
                        connections, the sky's the limit. </p>
                    <p class="para3">Ready to take your business to the next level? Or maybe you want to see the world
                        from a new perspective (while flying through the air)? Either way, we've got you covered. We
                        know the
                        perfect people to help you achieve your goals and make your wildest dreams a reality.</p>
                </div>
                <div class="full-width ">
                    <img class="image" alt="about" src="/assets/about.png">
                </div>
            </div>
        </div>
    </section>
    <br><br>
    <section>
        <div container-fluid>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-3 col-md-offset-2"
                    style="display: flex; align-items: center; margin-right: 20px;">
                    <div class="card">
                        <div class="card-header">
                            In studio painting lesson for beginners
                        </div>
                        <div class="card-body">
                            <div class="card-img">
                                <img class="card-img-top" src="/assets/pexels-yankrukov-8613062.jpg"
                                    alt="Card image cap">
                            </div>
                            <div class="card-text">18 review ⭐⭐⭐⭐ 
                              <span class="star">☆</span>
                              </div>
                            <div class="body">
                                <div class="card-title">Class Overview</div>
                                <p class="card-para4">An in-studio painting lesson for beginners introduces
                                    fundamental techniques and color theory, guiding students through creating their
                                    first
                                    artwork.</p>
                            </div>
                            <div class="card-section" style="display: flex; align-items: center;">
                                <div class="card-title2 " style="margin-right: 10px;">Student Enrolled <br>24</div>
                                <div style="margin-left: 10px;">Class Rating <br> 4.1/5</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-3">
                    <h2 class="heading3">Learn anything</h2>
                    <p class="para5">Ready to learn something new? The possibilities are endless, whether it's acing
                        your exams, climbing the corporate ladder, becoming a coding pro, creating stunning works of
                        art, speaking a new language, or even just fixing up your home.</p>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-sm-10 col-lg-5 col-lg-offset-1">
                    <h2 class="heading4">Anywhere on the planet</h2>
                    <p class="para6">Learning knows no boundaries. We've made it easy for you to learn online from
                        experts worldwide.</p>
                </div>
                <div class="full-width ">
                    <img class="image" alt="planet" src="/assets/anywherePlanet.png">
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container-fluid">
            <div class="row middle-xs">
                <div class="full-width">
                    <img class="image" alt="world" src="/assets/EarthLive.png">
                </div>
            </div>
            <div class="col-xs-12 col-md-4 col-lg-4">
                <div class="row center-sm">
                    <div class="col-xs-12 col-lg-10">
                        <div class="text-center ">
                            <div class="live">
                                <img class="image" style="width: 40%;" alt="live" src="/assets/LiveLogo.png">
                            </div>
                            <h3 class="heading5">With fellow lifelong learners</h3>
                            <p class="para7">Join the party and learn with hundreds (or thousands!) of other students in
                                our live-streamed classes.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-md-8 col-lg-3 col-md-offset-4">
                    <div class="text-center ">
                        <h3 class="heading6">No pesky platform fees</h3>
                        <p class="para8">
                            Don't like platform fees? Well, good news - at Clascity, we believe in helping students
                            learn at the most affordable price possible. That's why there are no platform fees when you
                            learn with us. You'll only pay the teacher's requested fee - no hidden costs here!
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </section>
</div>