footer {
  padding: 20px 0;
}
html,
body {
  height: 100%;
  margin: 0;
}
.content {
  min-height: 100vh;
  margin-bottom: 100px;
}
footer {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  margin-top: 20px;
}
.img-fluid {
  height: 150px;
  width: 200px;
}
a {
  color: black;
}
.separator {
  border-left: 1px solid #000;
  height: 1em;
  display: inline-block;
  margin: 0 10px;
  vertical-align: middle;
}
