<footer class=" text-center text-lg-start">
    <div class="container p-4">
      <div class="row">
        <!-- About Section -->
        <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">About</h5>
          <p>
            Information about the application, company, or team goes here.
          </p>
        </div>
        <!-- Help Center Section -->
        <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Help Center</h5>
          <p>
            Links or information for getting help and support go here.
          </p>
        </div>
        <!-- Image Section -->
        <div class="col-lg-4 col-md-12 mb-4 mb-md-0 text-center">
          <img src="assets/footer.png" alt="Footer Image" class="img-fluid">
        </div>
      </div>
    </div>
    <div class="text-center p-3" >
      © 2024 Skill_Sharing_Platform 
    </div>
  </footer>
  
