<footer class="text-center text-lg-start">
  <div class="container p-4">
    <div class="row justify-content-center">
      <!-- Links Section -->
      <div class="col-lg-8 col-md-12 mb-4 mb-md-0 text-center">
        <a href="/about" class="text-decoration-none me-3">About Us</a>
        <a href="/privacy" class="text-decoration-none">Privacy Policy</a>
      </div>
    </div>
  </div>
  <div class="text-center p-3">
    <!-- Copyright Section -->
    © 2024 Skill_Sharing_Platform
  </div>
</footer>
