<main class="container">
    <div class="blog p-4 p-md-5 mb-4 text-white rounded ">
        <div class="col-md-12 px-0">
            <h3 class="display-4 fst-italic p-0">React Fundamentals Bootcamp</h3>
            <p class="lead my-4">Unlock the potential of React methodologies and propel your career to new heights with
                our React Fundamentals Bootcamp.</p>
        </div>
    </div>

    <div class="row g-5">
        <div class="col-md-12">
            <article class="blog-post">
                <h2 class="blog-post-title">Course Description</h2>
                <p>The React course is designed to equip you with the expertise needed to construct contemporary and
                    expandable web applications. You will gain mastery over React, Redux, and React Native concepts.
                    Throughout this React Course, you will acquire the skills necessary to construct basic components
                    and seamlessly integrate them into more intricate design components. Furthermore, the course covers
                    fundamental React concepts like JSX, Redux, data fetching, and the successive deployment of
                    applications to cloud platforms.</p>
                <hr>
            </article>
        </div>
    </div>
    <h2 class="my-5 text-center ">Testimonials</h2>
    <div class="row ">
        <div class="col-md-4 testimonial-card ">
            <div class="card testimonial-custom-color">
                <div class="card-body">
                    <img src="/assets/fonts/testimonial-com.webp" alt="Join Us"
                        class="img-fluid img mb-4 align-items-center">
                    <p class="card-text">"This platform has been a game-changer for me. I've learned so much from
                        the skill-sharing sessions!"</p>
                    <h5 class="card-title">John Doe</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Web Developer</h6>
                    <hr>
                </div>
            </div>
        </div>
        <div class="col-md-4 testimonial-card">
            <div class="card">
                <div class="card-body">
                    <img src="/assets/fonts/testimonial-com.webp" alt="Join Us"
                        class="img-fluid img mb-4 align-items-center">
                    <p class="card-text">"An amazing experience! The feedback system is particularly helpful in
                        improving my skills."</p>
                    <h5 class="card-title">Jane Smith</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Web Developer</h6>
                    <hr>
                </div>
            </div>
        </div>
        <div class="col-md-4 testimonial-card">
            <div class="card">
                <div class="card-body">
                    <img src="/assets/fonts/testimonial-com.webp" alt="Join Us"
                        class="img-fluid img align-items-center">
                    <br>
                    <br>
                    <p class="card-text">"Highly recommend this platform to anyone looking to learn or share
                        skills."</p>
                    <br>
                    <h5 class="card-title">Mike Johnson</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Frontend Developer</h6>
                    <hr>
                </div>
            </div>
        </div>
    </div><br><br>

    <div class="row g-5">
        <div class="col-md-12">
            <article class="blog-post">
                <h2 class="blog-post-title">What you'll learn</h2>
               <ul>
                <li>Use reusable components to render views where data changes over time</li>
                <li>Organize React projects to create more scalable and maintainable websites and apps</li>
                <li>Use props to pass data between components. Create dynamic and interactive web pages and apps</li>
                <li>Use forms to allow users to interact with the app. Build an application in React</li>
               </ul>
                <hr>
            </article>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <button type="button" class="btn btn-primary" (click)="openPaymentModule()">Enroll Now</button>
        </div>
    </div>
</main>