<div class="container mt-5">
  <h4 class="text-center">Feedback</h4>
  <form [formGroup]="feedbackForm" (ngSubmit)="onSubmit()" class="feedback-form border p-4 rounded mx-auto">
    <div class="mb-3">
      <label for="feedback" class="form-label">Feedback Comment</label>
      <textarea
        id="feedback"
        class="form-control border-primary"
        formControlName="comment"
        rows="4"
        placeholder="Enter your feedback"
      ></textarea>
      <div *ngIf="feedbackForm.controls['comment'].invalid && (feedbackForm.controls['comment'].dirty || feedbackForm.controls['comment'].touched)" class="text-danger">
        Feedback is required and must be between 10 and 200 characters.
      </div>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="feedbackForm.invalid">Submit</button>
  </form>
</div>
