<div class="container mt-2 d-flex justify-content-center" style="width: 50%;">
  <div class="row w-100 ">
    <div class="col-md-6 - d-none d-md-flex align-items-center justify-content-center purple-bg">
      <div class=" text-center">
        <img src="/assets/signIn.png" alt="Join Us" class="img-fluid img mb-4">
        <h3>Welcome Back!</h3>
        <p>Sign in to access your account and continue where you left off.</p>
      </div>
    </div>
    <div class="col-md-6 mt-3">
      <div class="d-flex align-items-center ">
        <h2 class=" mb-4">Login</h2>
      </div>
      <form [formGroup]="loginForm" #usersForm="ngForm" (ngSubmit)="onSubmit(usersForm.value)">
        <div class="mb-3 form-group">
          <label for="email" class="form-label">Email</label>
          <input type="email" id="email" formControlName="email" class="form-control">
          <div class="form-text text-danger" *ngIf="Email.errors?.['required'] && Email.touched ">
            *Email is required
          </div>
          <div class="form-text text-danger" *ngIf="Email.errors?.['email'] && Email.touched ">
            *Invalid email address
          </div>
        </div>
        <div class="mb-3 form-group position-relative">
          <label for="password" class="form-label">Password</label>
          <input [type]="hidePassword ? 'password' : 'text'" id="password" formControlName="password" class="form-control">
          <button type="button"class="password-toggle-btn" style="outline: none;" (click)="togglePasswordVisibility()">
            <i class="fas" [ngClass]="hidePassword ? 'fa-eye-slash' : 'fa-eye'"></i>
          </button>
          <div class="form-text text-danger" *ngIf="Password.errors?.['required'] && Password.touched ">
            *Password is required
          </div>
          <div class="form-text text-danger" *ngIf="Password.errors?.['minlength'] || Password.errors?.['maxlength'] && 
          Password.touched">*Password should be at least minimum 6 and maximum 15 character
          </div>
        </div>
        <div class="text-center mt-1">
          <small>Don't have an account? <a routerLink="/register">Register</a></small>
        </div>
        <button type="submit" color="loginForm.valid ? 'primary' : ''" [disabled]="!loginForm.valid"
          class="btn btn-primary " style="float:right; ">Sign In</button><br>
      </form>
    </div>
  </div>
</div>