<div class="container">
          <div class="card-body">
            <!-- Image -->
            <img src="/assets/php.jfif" class="img-fluid mb-3" alt="Image">

            <button (click)="closeDialog()"> Close</button>
    
            <!-- Title -->
            <h5 class="card-title">Card Title</h5>
    
            <!-- Description -->
            <p class="card-text">Full description of the card goes here. This is where you can provide detailed information about the card.</p>
    
            <!-- Actual Link -->
            <p><a href="path/to/session" class="text-primary">https://zoom.us/</a></p>
          </div>
        </div>