<div class="container mt-2 d-flex justify-content-center">
  <div class="row w-80">
    <div class="col-md-6 mt-3 d-none d-md-flex align-items-center justify-content-center purple-bg">
      <div class="text-white text-center">
        <img src="/assets/signUp.png" alt="Join Us" class="img-fluid mb-4">
        <h3>Join Us!</h3>
        <p>Create an account to access all our features and start learning today.</p>
      </div>
    </div>
    <div class="col-md-5 mt-3">
      <div class="d-flex align-items-center">
        <h2 class="mb-4">Register</h2>
      </div>
      <form [formGroup]="registerForm">
        <div class="mb-3 form-group">
          <label for="fullName" class="form-label">Full Name</label>
          <input id="fullName" formControlName="fullName" class="form-control" />
          <small class="form-text text-danger"
            *ngIf="registerForm.get('fullName').errors?.required && registerForm.get('fullName').touched">
            *Full name is required
          </small>
          <small class="form-text text-danger"
            *ngIf="registerForm.get('fullName').errors?.pattern && registerForm.get('fullName').touched">
            *Full name must start with an alphabet
          </small>
        </div>
        <div class="mb-3 form-group">
          <label for="email" class="form-label">Email</label>
          <input type="email" id="email" formControlName="email" class="form-control" />
          <small class="form-text text-danger"
            *ngIf="registerForm.get('email').errors?.required && registerForm.get('email').touched">
            *Email is required
          </small>
          <small class="form-text text-danger"
            *ngIf="registerForm.get('email').errors?.pattern && registerForm.get('email').touched">
            *Invalid email address
          </small>
        </div>
        <div class="form-group">
          <label for="about">About me</label>
          <textarea id="about" class="form-control" formControlName="about" rows="2" style="max-width: 100%;"
            placeholder="Provide a brief about of the session"></textarea>
        </div>
        <div class="mb-3">
          <label for="interests" class="form-label">Interests</label>
          <ng-multiselect-dropdown [placeholder]="'Select interests'" [data]="dropdownData" formControlName="interests"
            [settings]="dropdownSettings"></ng-multiselect-dropdown>
        </div>
        <div class="form-group">
          <label for="profilePicture">Upload Image</label>
          <input type="file" id="profilePicture" class="form-control" accept="image/*" formControlName="profilePicture"
            placeholder="Choose an image to upload" />
          <small class="form-text text-danger" *ngIf="registerForm.get('profilePicture').errors?.required ">
            *Image is required
          </small>
        </div>
        <div class="mb-3 form-group">
          <div class="position-relative">
            <label for="password" class="form-label">Password</label>
            <input [type]="hidePassword ? 'password' : 'text'" id="password" formControlName="password"
              class="form-control">
            <button type="button" class="password-toggle-btn" (click)="togglePasswordVisibility()">
              <i class="fas" [ngClass]="hidePassword ? 'fa-eye-slash' : 'fa-eye'"></i>
            </button>
          </div>
          <small class="form-text text-danger"
            *ngIf="registerForm.controls.password?.errors?.required && registerForm.get('password').touched">
            *Password is required
          </small>
          <small class="form-text text-danger"
            *ngIf="registerForm.controls.password?.errors?.minlength || registerForm.controls.password?.errors?.maxlength">
            *Password should be between 6 and 15 characters
          </small>
        </div>
        <div class="mb-3 form-group">
          <div class="position-relative">
            <label for="rpwd" class="form-label">Confirm Password</label>
            <input [type]="hideConfirmPassword ? 'password' : 'text'" id="rpwd" [formControl]="rpwd"
              class="form-control">
            <button type="button" class="rpwd-toggle-btn" (click)="toggleConfirmPasswordVisibility()">
              <i class="fas" [ngClass]="hideConfirmPassword ? 'fa-eye-slash' : 'fa-eye'"></i>
            </button>
          </div>
          <small class="form-text text-danger"
            [ngStyle]="{'display':rpwd?.errors?.required && rpwd?.touched ? 'block' : 'none'}">*Password is
            required</small>
          <small class="form-text text-danger"
            [ngStyle]="{'display':(rpwd.value != registerForm.get('password').value && rpwd?.touched) && !rpwd?.errors?.required ? 'block' : 'none'}">*Passwords
            do not match</small>
        </div>
        <div class="text-center mt-3">
          <p>Already have an account? <a routerLink="/login">Login</a></p>
        </div>
        <button type="submit" class="btn btn-primary w-100" [disabled]="!registerForm.valid"
          (click)="onSubmit()">Register</button>
      </form>
    </div>
  </div>
</div>