<div class="loadingPage">
    <div class="container-fluid">
        <section class="loading">
            <div class="row">
                <div class="col-12 col-lg-8 offset-lg-2 text-center">
                    <div class="hero-search">
                        <h1 class="heading1">Learn from experts locally and around the world</h1>
                        <p class="para1">"Skillshare platform helps you find the right person with the right skills to
                            learn from, fast."</p>
                    </div>
                    <div class="mobile-home-search"></div>
                </div>
            </div>
        </section>
        <section class="landing-about mt-5">
            <div class="row align-items-center">
                <div class="col-md-6 col-lg-5 offset-md-1">
                    <h2 class="heading2">Unlock your full potential through skill sharing</h2>
                    <p class="para2">Don't let your current skills keep you from becoming your best self. Clascity is
                        here to help you learn, grow, and achieve greatness. With the right tools and connections, the
                        sky's the limit.</p>
                    <p class="para3">Ready to take your business to the next level? Or maybe you want to see the world
                        from a new perspective (while flying through the air)? Either way, we've got you covered. We
                        know the perfect people to help you achieve your goals and make your wildest dreams a reality.
                    </p>
                </div>
                <div class="col-md-6 col-lg-4">
                    <img class="img-fluid rotate-image rounded-circle" alt="about" src="/assets/about.png">
                </div>
            </div>
        </section>
        <section class="mt-5">
            <div class="row justify-content-center">
                <div class="col-md-6 col-lg-5">
                    <div class="card">
                        <div class="card-header">In studio painting lesson for beginners</div>
                        <div class="card-body">
                            <img class="card-img-top" src="/assets/pexels-yankrukov-8613062.jpg" alt="Card image cap">
                            <div class="card-text mt-2">
                                18 Ratings
                                <i class="fas fa-star" style="color: rgb(226, 186, 84);"></i>
                                <i class="fas fa-star" style="color: rgb(226, 186, 84);"></i>
                                <i class="fas fa-star" style="color: rgb(226, 186, 84);"></i>
                                <i class="fas fa-star" style="color: rgb(226, 186, 84);"></i>
                                <i class="far fa-star"></i>
                            </div>
                            <div class="card-title mt-2">Session Overview</div>
                            <p class="card-para4 mt-2">An in-studio painting lesson for beginners introduces fundamental
                                techniques and color theory, guiding students through creating their first artwork.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 text-center d-flex flex-column justify-content-center">
                    <h2 class="heading2">Learn anything</h2>
                    <p class="para2">Ready to learn something new? The possibilities are endless, whether it's acing
                        your exams, climbing the corporate ladder, becoming a coding pro, creating stunning works of
                        art, speaking a new language, or even just fixing up your home.</p>
                </div>
            </div>
        </section>
        <section class="mt-5">
            <div class="row align-items-center">
                <div class="col-lg-5 offset-lg-1">
                    <h2 class="heading4">Anywhere on the planet</h2>
                    <p class="para6">Learning knows no boundaries. We've made it easy for you to learn online from
                        experts worldwide.</p>
                </div>
                <div class="col-lg-5 d-flex justify-content-end">
                    <img class="img-fluid rounded-circle" alt="planet" src="/assets/Anywhere.png">
                </div>
            </div>
        </section>
        <section class="mt-5">
            <div class="row align-items-center">
                <div class="col-lg-4 offset-lg-1">
                    <img class="img-fluid rounded-circle" alt="world" src="/assets/Planet.png">
                </div>
                <div class="col-lg-4">
                    <div class="text-center">
                        <div class="live mb-3">
                            <img class="img-fluid" style="width: 30%;" alt="live" src="/assets/LiveLogo.png">
                        </div>
                        <h3 class="heading5">With fellow lifelong learners</h3>
                        <p class="para7">Join the party and learn with hundreds (or thousands!) of other students in our
                            live-streamed classes.</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="mt-5">
            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-6 text-center">
                    <h3 class="heading6">No pesky platform fees</h3>
                    <p class="para8">Don't like platform fees? Well, good news - at skillshare platform, we believe in
                        helping students learn at the most affordable price possible. That's why there are no platform
                        fees when you learn with us. You'll only pay the teacher's requested fee - no hidden costs here!
                    </p>
                </div>
            </div>
        </section>
    </div>


