<div class="container mt-5 d-flex justify-content-center">
    <div class="row w-100">
      <div class="col-md-6 d-none d-md-flex align-items-center justify-content-center purple-bg">
        <div class="text-white text-center">
            <img src="/assets/login.jfif" alt="Join Us" class="img-fluid mb-4">
          <h3>Join Us!</h3>
          <p>Create an account to access all our features and start learning today.</p>
        </div>
      </div>
      <div class="col-md-6">
        <h2 class="text-center mb-4">Register</h2>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
          <div class="mb-3">
            <label for="firstName" class="form-label">First Name</label>
            <input id="firstName" formControlName="firstName" class="form-control" />
            <div *ngIf="registerForm.controls['firstName'].invalid && registerForm.controls['firstName'].touched" class="text-danger">
              First Name is required .
            </div>
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" id="email" formControlName="email" class="form-control" />
            <div *ngIf="registerForm.controls['email'].invalid && registerForm.controls['email'].touched" class="text-danger">
              A valid email is required.
            </div>
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" id="password" formControlName="password" class="form-control" />
            <div *ngIf="registerForm.controls['password'].invalid && registerForm.controls['password'].touched" class="text-danger">
              Password is required .
            </div>
          </div>
          <button type="submit" class="btn btn-primary w-100" [disabled]="registerForm.invalid">Register</button>
        </form>
        <div class="text-center mt-3">
          <p>Already have an account? <a routerLink="/login">Login</a></p>
        </div>
      </div>
    </div>
  </div>
  