
.img-fluid {
    border-radius: 30%;
    max-width: 100%;
    height: auto;
  }
 
.card-img-top {
    width: 70%;
    height: 50%;
  }
  
  .rounded-circle {
    border-radius: 50% !important;
  }
 
.modal-content {
    border-radius: 8px;
  }
  
  .modal-header {
    border-bottom: none;
  }
  
  .modal-body {
    text-align: center;
  }
  
  .modal-footer {
    border-top: none;
  }
  

  .btn-link.show-more {
    font-size: 0.875rem;
    text-decoration: none;
  }
a{
  color: black;
}