
  .btn-primary {
    width: 100%;
  }
  .container {
    border: 1px solid #ddd;
    border-radius: 10px;
    border-radius: 8px;
    padding: 20px;
    display: flexbox;
    box-shadow: 0px 0px 10px rgba(7, 6, 6, 0.571);
    max-width: 55%;
    height: 30%;
    margin: 0 auto;
  }
